vsix_build/**
vsix_repack/**
.git/**
.github/**
src/**
node_modules/.cache/**
**/*.map
**/tsconfig.json
**/.gitignore
**/.gitkeep
.vscodeignore
*.vsix
A_VS_Code_extension_icon_for_a_*.png
A_split_view_screenshot_of_VS__*.png
VS_Code_editor_hover_tooltip_s_*.png
**/underscore/**/*.html
**/underscore/**/*.md
**/underscore/**/package.json
**/underscore/modules/**
**/underscore/cjs/**
**/underscore/amd/**
**/underscore-node*.js
**/underscore-esm.js
**/underscore-esm-min.js
**/underscore-umd.js
**/underscore-umd-min.js
**/underscore-min.js
